<div class="row">
  <div class="col s12">
    <%= link_to 'cancel', team_path(@team), class: 'waves-effect waves-light btn btn-dark' %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"><%= t(".title") %></span>
          <%= simple_form_for @team do |f| %>
            <%= f.input :name, input_html: { class: 'validate' }, label: "name" %>
            <%= f.input :slug, input_html: { class: 'validate' }, label: "slug (your team page will live at myinvestmenttime.com/teams/slug)" %>
            <%= f.input :description, input_html: { class: 'materialize-textarea validate textarea-main' }, label: "description" %>

            <%= f.simple_fields_for :links, OpenStruct.new(@team.links) do |link| %>
              <%= link.input :homepage, input_html: { class: 'validate' }, label: "homepage" %>
              <%= link.input :github, input_html: { class: 'validate' }, label: "github" %>
            <% end %>

            <%= f.button :submit, class: 'btn-dark' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

