<div class="w-full-card w-auto">
  <div class="m-0 p-0">
    <ul class="list-reset float-none">
      <%= link_to(team_path(@team)) do %>
        <li class="float-left p-4 bg-grey-light mx-1 hover:bg-grey-lightest">cancel</li>
      <% end %>
    </ul>
  </div>
</div>
<div class="w-full-card">
  <div class="w-full p-4 pb-0">
    <h2 class="mb-6"><%= t(".title") %></h2>
  </div>

  <div class="w-full p-4 pt-0">
    <%= simple_form_for @team do |f| %>
      <div class="my-2">
        <p class="text-sm">name:</p>
      </div>
      <div class="text-field my-2">
        <%= f.input :name, input_html: { class: 'w-full-input' }, label: false %>
      </div>
      <div class="my-2">
        <p class="text-sm">url:</p>
      </div>
      <div class="text-field my-2">
        <%= f.input :slug, input_html: { class: 'w-full-input' }, label: false %>
      </div>
      <div class="my-2">
        <p class="text-sm">description:</p>
      </div>
      <div class="text-field my-2">
        <%= f.input :description, input_html: { class: 'w-full-input' }, label: false %>
      </div>

      <%= f.simple_fields_for :links, OpenStruct.new(@team.links) do |link| %>
        <div class="my-2">
          <p class="text-sm">homepage:</p>
        </div>
        <div class="text-field my-2">
          <%= link.input :homepage, input_html: { class: 'w-full-input' }, label: false %>
        </div>

        <div class="my-2">
          <p class="text-sm">github:</p>
        </div>
        <div class="text-field my-2">
          <%= link.input :github, input_html: { class: 'w-full-input' }, label: false %>
        </div>
      <% end %>

      <div class="submit-field my-4 text-center">
        <%= f.button :submit, class: 'btn-default mx-auto px-8' %>
      </div>
    <% end %>
  </div>
</div>

