<div class="row">
  <div class="col s12">
    <%= link_to 'new team', new_team_path, class: 'waves-effect waves-light btn btn-dark' %>
  </div>
</div>

<div class="w-100-s ml-auto mr-auto">
  <div class="card blue-grey">
    <div class="card-content white-text">
      <span class="card-title">owner of teams</span>
      <% @owned_teams.try(:each) do |team| %>
        <%= link_to team, class: 'no-underline' do %>
          <%= render 'teams/shared/team_list', team: team %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="w-100-s ml-auto mr-auto">
  <div class="card blue-grey">
    <div class="card-content white-text">
      <span class="card-title">member of teams</span>
      <% @member_teams.try(:each) do |team| %>
        <%= link_to team, class: 'no-underline' do %>
          <%= render 'teams/shared/team_list', team: team %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
