<div class="dark-card-container mw7 center">
  <div class="dark-card-body pb3">
    <%= link_to 'new team', new_team_path, class: 'dark-button' %>
  </div>
</div>
<div class="mw7 center">
  <h2 class="dark-card-header">owner of teams</h2>
</div>
<% @owned_teams.try(:each) do |team| %>
  <%= link_to team, class: 'no-underline' do %>
    <%= render 'teams/shared/team_list', team: team %>
  <% end %>
<% end %>

<div class="mw7 center">
  <h2 class="dark-card-header">member of teams</h2>
</div>
<% @member_teams.try(:each) do |team| %>
  <%= link_to team, class: 'no-underline' do %>
    <%= render 'teams/shared/team_list', team: team %>
  <% end %>
<% end %>
