<% if @team.owner == current_user %>
  <div class="row">
    <div class="col s12">
      <%= link_to 'edit', edit_team_path(@team), class: 'waves-effect waves-light btn btn-dark' %>
      <%= link_to 'invite members', new_team_invite_path(@team), class: 'waves-effect waves-light btn btn-dark' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-stacked">
        <div class="card-content overflow-auto">
          <h5><%= @team.name %></h5>
          <h6>owner: <%= link_to @team.owner.username, user_path(@team.owner) %></h6>
          <% if @team.links["homepage"] %>
            <p>homepage: <%= link_to @team.links["homepage"], @team.links["homepage"] %></p>
          <% end %>
          <% if @team.links["github"] %>
            <p>github: <%= link_to @team.links["github"], @team.links["github"] %></p>
          <% end %>
          <br>
          <p><%= @team.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-stacked">
        <div class="card-content overflow-auto">
          <h5 class="float-left p-1 mx-1">members of team</h5>
          <% @team.members.each do |member| %>
            <%= link_to user_path(member) do %>
              <div class="team-user-list">
                <h6><%= member.username %></h6>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

