<%= form_for :session, url: session_path do |form| %>
  <div class="text-field my-2">
    <%= form.text_field :email, type: 'email', class: 'w-full-input', placeholder: t("forms.email_address") %>
  </div>

  <div class="password-field my-2">
    <%= form.password_field :password, class: 'w-full-input', placeholder: t("forms.password") %>
  </div>

  <div class="submit-field my-4 text-center">
    <%= form.submit class: 'btn-default mx-auto px-8' %>
  </div>

  <div class="other-links mt-4 mx-auto text-center">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path, class: 'mr-2' %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
