<% if @invest.user == current_user %>
  <div class="row">
    <div class="col s12">
      <%= link_to 'edit', edit_invest_path(@invest), class: 'waves-effect waves-light btn btn-dark' %>
      <%= link_to 'update history', new_invest_status_path(@invest), class: 'waves-effect waves-light btn btn-dark' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-stacked">
        <div class="card-content">
          <div class="left">
            <h6><%= link_to @invest.user.username, user_url(@invest.user) %></h6>
          </div>
          <div class="right">
            <h6 class="pl2 pointer" id="likeButton">
              <i class="material-icons likes-icon">thumb_up</i>
              <span id="likeCount" class="like-button"><%= @invest.likes.length %></span>
            </h6>
          </div>
          <div class="cl divider w-100"></div>
          <div class="pt2">
            <h4 class="mt1"><%= @invest.title %></h4>
            <p><%= @invest.body %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">links</span>
          <% @invest.links.try(:each) do |i| %>
            <a href="<%= i.to_a[1] %>"><h6 class="pb-4"><%= i.to_a[0] + ': ' + i.to_a[1] %></h6></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">history</span>
          <% @invest.statuses.try(:each) do |i| %>
            <div class="cl overflow-auto p4">
              <p class="left"><%= i.title %>:</p>
              <p class="left ml4"><%= i.detail %></p>
              <p class="right ml4"><%= i.created_at.strftime('%H:%M - %b %e %Y') %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
