<div class="w-full-card">
  <div class="w-3/4 pr-4">
    <h3 class="w-full border-b-2 border-grey-light mb-2"><%= @invest.title %></h3>
    <p><%= @invest.body %></p>
  </div>
  <div class="w-1/4 border-l-2 border-grey-light pl-4">
    <p><%= @invest.user.username %></p>
  </div>
</div>
<div class="w-full-card">
  <div class="w-full">
    <h3 class="w-full border-b-2 border-grey-light mb-2">links</h3>
    <% @invest.links.try(:each) do |i| %>
      <a href="<%= i.to_a[1] %>"><h3 class="pb-4"><%= i.to_a[0] + ': ' + i.to_a[1] %></h3></a>
    <% end %>
  </div>
</div>
