<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-stacked">
        <div class="card-content bg-dark">

          <div class="row no-margin">

            <div class="col s3">
              <ul class="list-reset settings-ul">
                <li class="pa2 white-text">account</li>
                <%= link_to edit_settings_profile_path, class: 'no-underline' do %>
                  <li class="pa2 white-text cursor-pointer">profile</li>
                <% end %>
                <%= link_to edit_settings_password_path, class: 'no-underline' do %>
                  <li class="pa2 white-text cursor-pointer">password</li>
                <% end %>
              </ul>
            </div>

            <div class="col s9 bg-white right-inner-card">
              <h3 class="mt0 mb4"><%= t(".title") %></h3>
              <%= simple_form_for @user, url: settings_account_url, method: :patch do |f| %>
                <%= f.input :email, input_html: { class: 'validate' }, label: 'email address' %>
                <%= f.input :username, input_html: { class: 'validate' }, label: 'username' %>
                <%= f.button :submit, value: 'update account', class: 'btn-dark' %>
              <% end %>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
