<%= render 'settings/shared/settings_menu' %>
<div class="dark-card-container mw7 center">
  <div class="dark-card-body pb3">
    <h2 class="dark-card-header"><%= t(".title") %></h2>
    <%= simple_form_for @user, url: settings_account_url, method: :patch do |f| %>
      <div class="full-width-form-group">
        <%= f.label :email, 'email address', class: 'main-label' %>
        <%= f.input :email, input_html: { class: 'main-input w-100' }, label: false %>
      </div>
      <div class="full-width-form-group">
        <%= f.label :username, 'username', class: 'main-label' %>
        <%= f.input :username, input_html: { class: 'main-input w-100' }, label: false %>
      </div>
      <div class="tr">
        <%= f.button :submit, class: 'dark-button mt2' %>
      </div>
    <% end %>
  </div>
</div>
