<%= render 'settings/shared/settings_menu' %>
<div class="dark-card-container mw7 center">
  <div class="dark-card-body pb3">
    <h2 class="dark-card-header"><%= t(".title") %></h2>
    <%= simple_form_for @user, url: settings_password_url, method: :patch do |f| %>
      <div class="full-width-form-group">
        <%= f.label :current_password, 'current password', class: 'main-label' %>
        <%= f.input :current_password, input_html: { class: 'main-input w-100' }, label: false %>
      </div>
      <div class="full-width-form-group">
        <%= f.label :new_password, 'new password', class: 'main-label' %>
        <%= f.input :new_password, input_html: { class: 'main-input w-100' }, label: false %>
      </div>
      <div class="tr">
        <%= f.button :submit, class: 'dark-button mt2' %>
      </div>
    <% end %>
  </div>

</div>
