<div class="text-field my-2">
  <%= form.text_field :email, type: 'email', class: 'w-full-input', placeholder: t("forms.email_address") %>
  <div class="text-sm text-red-dark">
    <% @user.errors.messages[:email].each do |i| %>
      email <%= i %>
    <% end %>
  </div>
</div>

<div class="text-field my-2">
  <%= form.text_field :username, class: 'w-full-input', placeholder: t("forms.username") %>
  <div class="text-sm text-red-dark">
    <% @user.errors.messages[:username].each do |i| %>
      username <%= i %>
    <% end %>
  </div>
</div>

<div class="password-field my-2">
  <%= form.password_field :password, class: 'w-full-input', placeholder: t("forms.password") %>
  <div class="text-sm text-red-dark">
    <% @user.errors.messages[:password].each do |i| %>
      password <%= i %>
    <% end %>
  </div>
</div>
