<div class="input-field">
  <label for="email" class="light-color">email</label>
  <%= form.text_field :email, type: 'email', class: 'validate light-color' %>
  <div class="error">
    <% @user.errors.messages[:email].each do |i| %>
      email <%= i %><br>
    <% end %>
  </div>
</div>

<div class="input-field">
  <label for="user_username" class="light-color">username</label>
  <%= form.text_field :username, class: 'validate light-color' %>
  <div class="error">
    <% @user.errors.messages[:username].each do |i| %>
      username <%= i %><br>
    <% end %>
  </div>
</div>

<div class="input-field">
  <label for="user_password" class="light-color">password</label>
  <%= form.password_field :password, class: 'validate light-color' %>
  <div class="error">
    <% @user.errors.messages[:password].each do |i| %>
      password <%= i %><br>
    <% end %>
  </div>
</div>
