<div class="dark-card-container mw5p5 center">
  <div class="dark-card-body pb3">
    <h2 class="dark-card-header"><%= t(".title") %></h2>
      <%= form_for @user do |form| %>
        <%= render partial: '/users/form', object: form %>
        <%= form.submit class: 'dark-button mt2' %>
      <% end %>
  </div>
  <div class="dark-card-footer-small">
      <%= link_to t(".sign_in"), sign_in_path, class: 'dark-card-footer-link' %>
      <%= link_to t(".forgot_password"), new_password_path, class: 'dark-card-footer-link' %>
    </div>
  </div>
</div>
