<div class="w-60-l w-80-m w-100-s ml-auto mr-auto">
  <div class="card blue-grey">
    <div class="card-content white-text">
      <span class="card-title pb3"><%= t(".title") %></span>

      <%= form_for @user do |form| %>
        <%= render partial: '/users/form', object: form %>

        <%= form.submit class: 'btn btn-light black-text pointer' %>
      <% end %>
    </div>
    <div class="card-action">
      <%= link_to t(".sign_in"), sign_in_path %>
      <%= link_to t(".forgot_password"), new_password_path %>
    </div>
  </div>
</div>
