<ul id="mainMenu" class="dropdown-content">
  <li><%= link_to t("menu.search"), root_path, class: 'no-underline' %></li>
  <% if signed_in? -%>
    <li><%= link_to t("menu.teams"), teams_path, class: 'no-underline' %></li>
    <li><%= link_to t("menu.settings"), edit_settings_account_path, class: 'no-underline' %></li>
    <li class="divider"></li>
    <li><%= link_to t("menu.log_out"), sign_out_path, method: :delete, class: 'no-underline' %></li>
  <% else -%>
    <li class="divider"></li>
    <li><%= link_to t("menu.log_in"), sign_in_path, class: 'no-underline' %></li>
  <% end -%>
</ul>
