<div class="w-60-l w-80-m w-100-s ml-auto mr-auto">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title pb3"><%= t(".title") %></span>
      <p class="white-text pb4"><%= t(".description") %></p>

      <%= form_for :password_reset,
                   url: user_password_path(@user, token: @user.confirmation_token),
                   html: { method: :put } do |form| %>
        <div class="input-field">
          <label for="session_password" class="light-color">password</label>
          <%= form.password_field :password, class: 'validate light-color' %>
        </div>

        <%= form.submit class: 'btn black-text pointer' %>
      <% end %>
    </div>
  </div>
</div>
