<div class="w-60-l w-80-m w-100-s ml-auto mr-auto">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title pb3"><%= t(".title") %></span>
      <p class="white-text pb4"><%= t(".description") %></p>

      <%= form_for :password, url: passwords_path do |form| %>
        <div class="input-field">
          <label for="email" class="light-color">email</label>
          <%= form.text_field :email, type: 'email', class: 'validate light-color' %>
        </div>

        <%= form.submit class: 'btn black-text pointer' %>
      <% end %>
    </div>
  </div>
</div>
