<div id="clearance" class="password-reset flex w-full mx-auto bg-grey-lighter">
  <div class="w-1/4 py-8 bg-grey">
    <ul class="list-reset">
      <%= link_to edit_settings_account_path, class: 'no-underline' do %>
        <li class="p-6 hover:bg-grey-lighter cursor-pointer">account</li>
      <% end %>
      <li class="p-6 bg-grey-light">profile</li>
      <%= link_to edit_settings_password_path, class: 'no-underline' do %>
        <li class="p-6 hover:bg-grey-lighter cursor-pointer">password</li>
      <% end %>
    </ul>
  </div>
  <div class="w-3/4 p-8">
    <h2 class="mb-6"><%= t(".title") %></h2>
    <%= simple_form_for @profile, url: settings_profile_url, method: :patch do |f| %>
      <div class="my-2">
        <p class="text-sm">full name:</p>
      </div>
      <div class="text-field my-2">
        <%= f.input :full_name, input_html: { class: 'w-full-input' }, label: false %>
      </div>
      <div class="my-2">
        <p class="text-sm">bio:</p>
      </div>
      <div class="text-field my-2">
        <%= f.input :bio, input_html: { class: 'w-full-input' }, label: false %>
      </div>

      <%= f.simple_fields_for :links, OpenStruct.new(@profile.links) do |link| %>
        <div class="my-2">
          <p class="text-sm">homepage:</p>
        </div>
        <div class="text-field my-2">
          <%= link.input :homepage, input_html: { class: 'w-full-input' }, label: false %>
        </div>

        <div class="my-2">
          <p class="text-sm">github:</p>
        </div>
        <div class="text-field my-2">
          <%= link.input :github, input_html: { class: 'w-full-input' }, label: false %>
        </div>
      <% end %>
      <div class="submit-field my-4 text-center">
        <%= f.button :submit, value: 'update profile', class: 'btn-default mx-auto px-8' %>
      </div>
    <% end %>
  </div>
</div>
