<!DOCTYPE html>
<html>
  <head>
    <title>MyInvestmentTime.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'LikeComponent', 'data-turbolinks-eval': false, defer: true %>
    <%= javascript_pack_tag 'FollowComponent', 'data-turbolinks-eval': false, defer: true %>
  </head>

  <body class="bg-near-white">
    <header>
      <%= render 'shared/header' %>
      <%= render 'shared/main_menu' %>
    </header>

<!--    <main>-->
<!--      <div>-->
<!--        <div id="flash">-->
          <%# flash.each do |key, value| -%>
<!--            <div id="flash_<%#= key %>"><%#= h value %></div>-->
          <%# end %>
<!--        </div>-->
        <%#= yield %>
<!--      </div>-->
<!--    </main>-->

<!--    <footer>-->
<!--      <div>-->
<!--        <div>-->
<!--          © 2018 myInvestmentTime.com-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
  </body>
</html>
