<!DOCTYPE html>
<html>
  <head>
    <title>MyInvestmentTime.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'LikeComponent', 'data-turbolinks-eval': false, defer: true %>
    <%= javascript_pack_tag 'FollowComponent', 'data-turbolinks-eval': false, defer: true %>
  </head>

  <body class="bg-near-white">
    <header>
      <%= render 'shared/header' %>
      <%= render 'shared/main_menu' %>
    </header>

    <main class="mt5">
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div class="fixed z-9999 bg-light-gray ph4 pv3 flash-position br2" id="flash_<%= key %>"><%= h value %></div>
        <% end %>
      </div>
      <div class="mw8 center ph3-ns">
        <div class="cf ph2-ns">
          <%= yield %>
        </div>
      </div>
    </main>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
