<!DOCTYPE html>
<html>
  <head>
    <title>MyInvestmentTime.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <%= render 'shared/header' %>
    <%= render 'shared/main_menu' %>
  </header>

  <main>
    <div class="container pt5">
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>" class="flash-item"><%= h value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </main>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2018 myInvestmentTime.com
      </div>
    </div>
  </footer>
  </body>
</html>
